@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Inter", sans-serif;
    position: relative;
}

img#perfil{
    width: 222px;
    height: 220px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
}

h1{
    text-align: center;
}

h1#principal{
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
}

p#dev{
    font-weight: 600px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
}

div#imagens{
    margin: 0 auto;
    width: 240px;
    margin-top: 15px;
    
}

img.image{
    width: 55px;
    height: 55px;
    padding: 10px;
}

h1#conecte{
    font-weight: 600px;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
    margin-top: 35px;

}
div#link{
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}

a{  
    color: #000512;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #82BBF5;
    text-decoration: none;
    width: 400px;
    height: 50px;
    border: 1px solid black;
    margin-top: 10px; 
    border-radius: 40px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 2px #000512;

}


footer{
    background-color: #D9D9D9;
    font-size: 0.9em;
    height: 55px;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
}

#pfooter{
    margin-top: 10px;
}

/* Tela resolução Celular */

@media (max-width: 768px){

}

img#perfil{
    width: 200px;
    height: 200px;
}

h1#principal{
    font-size: 1.5em;
}

p#dev{
    font-size: 20px;
}

div#imagens{
    width: 180px;
    margin-top: 15px;
}

img.image{
    width: 35px;
    height: 35px;
}

h1#conecte{
    font-size: 1.5em;
    margin-top: 15px;

}
div#link{
    width: 300px;
    margin: 0 auto;
    margin-top: 15px;
}

a{ 
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 2px #000512;
    
}

footer{
    background-color: #D9D9D9;
    font-size: 0.7em;
    height: 55px;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
}

#pfooter{
    margin-top: 10px;
}